<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- title and other info -->
        <title>Minimal College Football Wallpapers</title>

        <!-- meta info -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- cfb colors -->
        <link rel="stylesheet" href="resources/css/cfb.css"/>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

        <!-- Font-Awesome -->
        <link rel="stylesheet" href="resources/css/font-awesome.min.css" integrity="sha512-${sha512_font_awesome_min_css}" crossorigin="anonymous"/>

        <!-- google icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <!-- header -->
        <header>
            <!-- navigation -->
            <nav>
                <div class="nav-wrapper">
                    &nbsp;<a href="#" class="brand-logo">CFB Minimal Wallpapers</a>
                </div>
            </nav>
        </header>

        <div class="container">
            <!-- search -->
            <div class="row">
                <form class="col s12" action="javascript:false" >
                    <div class="row">
                        <div class="input-field col offset-m8 m4 s12 valign-wrapper">
                            <i class="material-icons prefix valign">search</i>
                            <input id="searchbox" type="text" class="valign" autocomplete="off" placeholder="search..."/>
                            <label for="searchbox"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- main segment -->
        <main>
            <div class="container main-container">
                <!-- division level -->
                <#list divisions.sortedDivisions as division>
                <!-- division -->
                <div class="row searchable div-header-${division.id} div-${division.id}">
                    <div class="col s12">
                        <div class="card division-header darken-1">
                            <div class="card-content white-text">
                              <span class="card-title">${division.name}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- conference level -->
                <#list division.conferences() as confKey>
                <#assign conferenceName = division.getConferenceName(confKey)>
                <#assign conferenceSchools = division.schools(confKey)>
                <!-- conference -->
                <div class="searchable row conf-header-${confKey} conf-${confKey} div-${division.id}">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <span class="card-title">${conferenceName}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- school row -->
                <div class="searchable row conf-row-${confKey} conf-${confKey} div-${division.id} collapse">
                    <!-- school -->
                    <#list conferenceSchools as school>
                    <#if school.colors[0]??>
                    <!-- individual school card -->
                    <div class="searchable col s12 m6 l4 school-${school.id} conf-${confKey} div-${division.id}">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s10 offset-s1">
                                        <a href="fbs/${confKey}/${school.id}/${school.id}.html" class="grey-text text-darken-4">${school.display()}</a>
                                    </div>
                                </div>
                                <div class="row swatches">
                                    <div class="col s5 offset-s1 ${school.id}-0-primary swatch swatch-left center-align">
                                        ${school.colors[0].primaryColor}
                                    </div>
                                    <div class="col s5 ${school.id}-0-secondary swatch swatch-right center-align">
                                        ${school.colors[0].secondaryColor}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </#if>
                    <!-- done with school -->
                    </#list>
                    <!-- done with schools -->
                </div>
                </#list>
                <!-- done with conference -->

                </#list>
                <!-- done with division -->
            </div>
        </main>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <p class="grey-text text-lighten-4">Enjoy!</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p>© 2016 Christopher Ruffalo</p>
                    <a class="grey-text text-lighten-4 right" href="https://github.com/chrisruffalo/cfb-wallpapers"><i class="fa fa-github" aria-hidden="true"></i> On Github</a>
                </div>
            </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <!-- supporting highlight thing -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/7.0.2/jquery.mark.min.js"></script>
        <!-- import functionality js -->
        <script type="text/javascript" src="resources/js/search.js"></script>
    </body>

</html>