<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- title and other info -->
        <title>${school.display()}</title>

        <!-- meta info -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- school colors only -->
        <style>
        <#include "core.css.template">

        .container-wide {
            width: 98% !important;
        }

        .blot {
            height: 40px !important;
            border-width: 1px;
            border-style: solid;
            border-color: #6e6e6e;
            margin-left: 3px;
        }

        .blot-main {
            width:  60px !important;
        }

        .blot-accent {
            width:  35px !important;
        }

        <#if school.primaryColorSet??>
        .page-footer {
            color: ${school.primaryColorSet.bannerColor.textColor} !important;
            background-color: ${school.primaryColorSet.bannerColor.toRgbA("0.85")} !important;
        }
        .footer-copyright, .school-banner {
            color: ${school.primaryColorSet.bannerColor.textColor} !important;
            background-color: ${school.primaryColorSet.bannerColor} !important;
        }
        </#if>

        <#list school.colors as color>
        /* === id: '${color.id}' === */
        .${school.id}-${color.id}-primary, .${school.id}-${color?index}-primary {
            color: ${color.primaryColor.textColor};
            background-color: ${color.primaryColor};
        }

        .${school.id}-${color.id}-secondary, .${school.id}-${color?index}-secondary {
            color: ${color.secondaryColor.textColor};
            background-color: ${color.secondaryColor};
        }

        <#if color.accentColor??>
        .${school.id}-${color.id}-accent, .${school.id}-${color?index}-accent {
            color: ${color.accentColor.textColor};
            background-color: ${color.accentColor};
        }
        </#if>
        </#list>
        </style>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"/>

        <!-- Font-Awesome -->
        <link rel="stylesheet" href="/resources/css/font-awesome.min.css"/>

        <!-- google icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    </head>
    <body>

        <!-- header -->
        <header>
            <!-- navigation -->
            <nav class="school-banner">
                <div class="nav-wrapper container">
                    <a href="/index.html" class="brand-logo">Minimal Spirit</a>
                </div>
            </nav>
        </header>

        <!-- main -->
        <main>
            <div class="container">
                <!-- just a space -->
                <br/>

                <!-- conference -->
                <div class="row">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">${school.display()}</span>
                                <#if school.tags?? && school.tags?size gt 0><p><#list school.tags as tag><div class="chip">${tag}</div></#list></p></#if>
                            </div>
                            <div class="card-action">
                                <#if school.wikiUrl??><a href="${school.wikiUrl}">WIKI</a></#if>
                                <#if school.colorUrl??><a href="${school.colorUrl}">COLORS</a></#if>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                <div class="col s12">
                  <ul class="collapsible" data-collapsible="accordion">
                    <#list school.colors as color>
                    <li>
                        <div class="collapsible-header <#if school.colors?size == 1>active</#if>">
                            <div class="row">
                                <div class="col hide-on-small-only m5">
                                    <p><i class="material-icons">label_outline</i>${color.id}</p>
                                </div>
                                <div class="col s12 m7 right">
                                    <p>
                                    <div class="valign right blot blot-main ${school.id}-${color.id}-secondary z-depth-1">&nbsp</div>
                                    <#if color.accentColor??>
                                    <div class="valign right blot blot-accent ${school.id}-${color.id}-accent z-depth-1">&nbsp</div>
                                    </#if>
                                    <div class="valign right blot blot-main ${school.id}-${color.id}-primary z-depth-1">&nbsp</div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <div class="container container-wide">

                            <#list targets as target>
                            <#if target.templates?size == 0><#break></#if>

                            <h4>${target.name}</h4>
                            <div class="row">

                            <#list target.templates as template>
                                <#assign svgPath="${division.id}/${conference}/${school.id}/svg/${school.id}-${template.id}-${color.id}.svg">
                                <#if target.outputExists(outputPath, svgPath) >
                                <div class="col s12 m6 l4">

                                <div id="${target.id}-${template.id}-${color.id}" class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator svg-can-error" src="svg/${school.id}-${template.id}-${color.id}.svg">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">${template.name}</span>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">${template.name}<i class="material-icons right">close</i></span>
                                        <table class="responsive-table">
                                            <thead>
                                                <tr>
                                                    <th data-field="id">ID</th>
                                                    <th data-field="name">Dimensions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <#list target.formats as format>
                                                <#if "thumb" != format.id >
                                                <tr>
                                                    <td><a href="${target.id}/${school.id}-${template.id}-${color.id}_${format.id}.png">${format.id}</a></td>
                                                    <td>#{format.w}x#{format.h}</td>
                                                </tr>
                                                </#if>
                                                </#list>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> <!-- card -->

                                </div> <!-- col -->

                                </#if>

                            </#list> <!-- done listing templates -->

                            </div>
                            </#list> <!-- done listing targets -->

                            </div>
                        </div>
                    </li>
                    </#list>
                  </ul>
                </div>
                </div>

            </div>

        </main>

        <!-- footer -->
        <#include "footer.html.template">

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

        <!-- page scripts -->
        <script>
            $(document).ready(function(){
                $('.collapsible').collapsible({
                    accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                });
            });
        </script>
    </body>
</html>