<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- title and other info -->
        <title>${school.display()}</title>

        <!-- meta info -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- school colors only -->
        <style>
        <#include "core.css.template">

        <#if school.primaryColorSet??>
        .page-footer {
            color: ${school.primaryColorSet.bannerColor.textColor} !important;
            background-color: ${school.primaryColorSet.bannerColor.toRgbA("0.85")} !important;
        }
        .footer-copyright, .school-banner {
            color: ${school.primaryColorSet.bannerColor.textColor} !important;
            background-color: ${school.primaryColorSet.bannerColor} !important;
        }
        </#if>

        <#list school.colors as color>
        /* === id: '${color.id}' === */
        .${school.id}-${color.id}-primary, .${school.id}-${color?index}-primary {
            color: ${color.primaryColor.textColor};
            background-color: ${color.primaryColor};
        }

        .${school.id}-${color.id}-secondary, .${school.id}-${color?index}-secondary {
            color: ${color.secondaryColor.textColor};
            background-color: ${color.secondaryColor};
        }

        <#if color.accentColor??>
        .${school.id}-${color.id}-accent, .${school.id}-${color?index}-accent {
            color: ${color.accentColor.textColor};
            background-color: ${color.accentColor};
        }
        </#if>
        </#list>
        </style>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"/>

        <!-- Font-Awesome -->
        <link rel="stylesheet" href="/resources/css/font-awesome.min.css"/>

        <!-- google icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    </head>
    <body>

        <!-- header -->
        <header>
            <!-- navigation -->
            <nav class="school-banner">
                <div class="nav-wrapper container">
                    <a href="/index.html" class="brand-logo">${school.display()}</a>
                </div>
            </nav>
        </header>

        <!-- main -->
        <main>

        </main>

        <!-- footer -->
        <#include "footer.html.template">

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    </body>
</html>